<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>title</key>
    <string>Capture</string>
    <key>items</key>
    <array>
     <dict>
      		<key>cell</key>
      		<string>PSGroupCell</string>
      </dict>
    <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.PS.Capture</string>
        <key>key</key>
        <string>tweakEnabled</string>
        <key>label</key>
        <string>Enabled</string>
        <key>PostNotification</key>
        <string>com.PS.Capture/ReloadPrefs</string>
      </dict>
      <dict>
      		<key>cell</key>
      		<string>PSGroupCell</string>
      		<key>footerText</key>
      		<string>Automatically start listening whenever camera is active or its mode/device is changed.</string>
      		<key>footerAlignment</key>
        	<integer>1</integer>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <false/>
        <key>defaults</key>
        <string>com.PS.Capture</string>
        <key>key</key>
        <string>autoStart</string>
        <key>label</key>
        <string>Auto Start</string>
        <key>PostNotification</key>
        <string>com.PS.Capture/ReloadPrefs</string>
      </dict>
      <dict>
      		<key>cell</key>
      		<string>PSGroupCell</string>
      		<key>footerText</key>
      		<string>Enable dictation and streaming dictation without prompt.</string>
      		<key>footerAlignment</key>
        	<integer>1</integer>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <false/>
        <key>defaults</key>
        <string>com.PS.Capture</string>
        <key>key</key>
        <string>autoEnable</string>
        <key>label</key>
        <string>Auto Enable</string>
        <key>PostNotification</key>
        <string>com.PS.Capture/ReloadPrefs</string>
      </dict>
      <!--<dict>
      		<key>cell</key>
      		<string>PSGroupCell</string>
      		<key>footerText</key>
      		<string>Mute microphone activation sound.</string>
      		<key>footerAlignment</key>
        	<integer>1</integer>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <false/>
        <key>defaults</key>
        <string>com.PS.Capture</string>
        <key>key</key>
        <string>mute</string>
        <key>label</key>
        <string>Mute</string>
        <key>PostNotification</key>
        <string>com.PS.Capture/ReloadPrefs</string>
      </dict>-->
      <dict>
      		<key>cell</key>
      		<string>PSGroupCell</string>
      		<key>footerText</key>
      		<string>Manage phrases to be used as voice commands here.</string>
      		<key>footerAlignment</key>
        	<integer>1</integer>
      </dict>
      <dict>
      		<key>cell</key>
      		<string>PSLinkCell</string>
      		<key>label</key>
      		<string>Phrases</string>
      		<key>detail</key>
      		<string>CaptureWordsManagerController</string>
      </dict>
       <dict>
      		<key>cell</key>
      		<string>PSGroupCell</string>
      		<key>label</key>
      		<string>You might find them useful</string>
      </dict>
      <dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Dictation Flipswitch️</string>
			<key>url</key>
			<string>cydia://package/org.thebigboss.dictationflipswitchtoggle</string>
			<key>icon</key>
			<string>dictation.png</string>
		</dict>
		 <dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Streaming Dictation Flipswitch️</string>
			<key>url</key>
			<string>cydia://package/org.thebigboss.streamingdictationflipswitch</string>
			<key>icon</key>
			<string>streaming-dictation.png</string>
		</dict>
        <dict>
      		<key>cell</key>
      		<string>PSGroupCell</string>
      		<key>label</key>
      		<string>Developer</string>
      </dict>
      <dict>
    	<key>big</key>
    	<true/>
    	<key>cellClass</key>
		<string>HBTwitterCell</string>
		<key>height</key>
		<integer>60</integer>
		<key>label</key>
		<string>PoomSmart</string>
		<key>user</key>
		<string>PoomSmart</string>
	</dict>
      <dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Donate ❤️</string>
			<key>url</key>
			<string>http://poomsmart.github.io/repo/</string>
		</dict>
       <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>footerAlignment</key>
        <integer>1</integer>
        <key>footerText</key>
        <string>© 2013 - 2016 Thatchapon Unprasert
(@PoomSmart)</string>
      </dict>
      <dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Guide❓</string>
			<key>action</key>
			<string>showGuideView</string>
		</dict>
    </array>
  </dict>
</plist>